<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find pepper_control)/config/pepper_position_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="pepper_control" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="
      HeadYaw_position_controller HeadPitch_position_controller
      LShoulderPitch_position_controller LShoulderRoll_position_controller
      LElbowYaw_position_controller LElbowRoll_position_controller LWristYaw_position_controller
      RShoulderPitch_position_controller RShoulderRoll_position_controller 
      RElbowYaw_position_controller RElbowRoll_position_controller RWristYaw_position_controller 
      LHand_position_controller RHand_position_controller      
      HipRoll_position_controller HipPitch_position_controller KneePitch_position_controller 
      joint_state_controller"/>
</launch>

<!-- /WheelB_controller /WheelFL_controller /WheelFR_controller -->
